@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&display=swap");

$blueBtn: #1c7bb6;
$redBtn: #aa4627;
$turqouise: #00b0ad;
$offGrey: #ede9e4;
$darkGreyFont: #514f4f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1333px;
  margin: auto;
  padding: 0rem 2rem 0rem 2rem;
  position: relative;
  height: 100%;
}

// Utility Classes

@mixin flexCenter {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin scaleHover {
  &:hover {
    transform: scale(1.05);
    transition: all 0.1s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    text-decoration: line-through !important;
    cursor: pointer;
  }
}

@mixin sideMenuHover {
  &:hover {
    filter: brightness(50%);

    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}

.red-btn {
  background-color: $redBtn;
  width: 7rem;
  height: 3rem;
  color: white;
  text-decoration: none;
  @include flexCenter();

  @include scaleHover();
}
.blue-btn {
  background-color: $blueBtn;
  width: 7rem;
  height: 3rem;
  @include flexCenter();
  @include scaleHover();
}
.outline-btn {
  border: solid 2px white;
  width: 7rem;
  height: 3rem;
  @include flexCenter();
  @include scaleHover();
}

.section-heading {
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 2rem;
  color: $darkGreyFont;
  &::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: $blueBtn;
    bottom: 0;
    left: 0;
  }
}

.center-section {
  &::after {
    left: 41%;
    width: 18%;
  }
}

.grey-background {
  background-color: $offGrey;
}

// Floating Menu

.floating-menu {
  position: fixed;
  top: 45%;
  right: 0;
  width: 75px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 2rem;
    margin: 1rem 0rem 1rem 0rem;
    @include sideMenuHover();
  }
  i {
    font-size: 2rem;
    margin: 1rem 0rem 1rem 0rem;
    color: $turqouise;
    @include sideMenuHover();
  }
}

// Nav bar + hero background

// For mobile and tablet, background size will need to change

.bg-container {
  max-width: 1920px;
  margin: auto;
  position: relative;
  height: 100%;
}

.hero-bg {
  height: 100vh;
  width: 100%;
  background-image: url("/img/main-hero-bg.jpeg");
  background-repeat: no-repeat;
  background-size: 200vh;
  animation: backgroundMove 60s infinite ease-in-out;
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  .toggle-btn {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 2;
    .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
    }
  }
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    height: 0%;
    li {
      list-style: none;
      align-items: center;
      display: flex;
      a {
        text-decoration: none;
        color: white;
        margin: 1rem 5rem;
        display: block;
        font-size: 1rem;
        &:hover {
          text-decoration: line-through;
        }
      }
    }
  }
}

.navbar-links {
  position: relative;
  &:after {
    content: "";
    width: 105%;
    height: 0.1px;
    position: absolute;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

// Hero Section

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  .logo {
    width: 25rem;
  }
  .btn-wrapper {
    display: flex;
    margin-top: 1rem;
    a {
      color: white;
      margin: 20px;
      text-decoration: none;
    }
  }
}

// About Section

.about-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-flow: row;
  margin: 15rem 0rem 15rem 0rem;
  background-color: $offGrey;
  .about-text {
    padding: 2rem 3rem 8rem 3rem;
    line-height: 2.2;
    max-height: 50rem;
    font-weight: 300;
    position: relative;
    z-index: 2;
    a {
      position: absolute;
      bottom: 7rem;
      right: -14rem;
      padding: 2rem 5rem;
      font-size: 1.5rem;
    }
  }
  .about-img {
    position: relative;
    img {
      position: absolute;
      right: 6rem;
      top: -5rem;
      object-fit: cover;
      width: 35rem;
      height: 35rem;
    }
  }
}

// Menu Section

.menu {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5rem 2rem;
  h2 {
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.menu-wrapper-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: [row1-start]20% [row2-start] 60% [row3-start] 80% [row4-start] 20%;
  justify-content: center;
  margin: 5rem 5rem 10rem 8rem;
  .menu-title-text {
    padding-bottom: 2rem;
    p {
      line-height: 2.2;
      font-weight: 300;
    }
  }
  .menu-grid-1 {
    height: 100%;
    display: flex;
    grid-row: span 2;
    justify-content: center;
  }
  .food-menu {
    background-image: url("/img/sushi\ 1.png");
    background-repeat: no-repeat;
    width: 431px;
    color: white;
  }
  .drinks-menu {
    background-image: url("/img/cocktails\ 1.png");
    background-repeat: no-repeat;
    width: 431px;
    color: white;
  }
}

// Happy Hour and Events Section

.event-hh-wrapper-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $offGrey;
  padding: 7rem 6rem 7rem 5rem;
  .happy-hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    h2 {
      font-size: 1.8rem;
      color: #474747;
      line-height: 2;
    }
    a {
      font-size: 1.5rem;
      width: 12rem;
    }
  }
  .events {
    padding-left: 2rem;
    h1 {
      margin-bottom: 2rem;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 1rem;
        .event-name {
          border-bottom: 1px solid $blueBtn;
          padding: 1rem 0rem;
          font-size: 1.1rem;
          font-weight: 600;
        }
        .event-date {
          font-size: 1rem;
          color: #606060;
        }
      }
    }
  }
}

// ################################################### Delivery Section

.Delivery-section {
  margin-top: 15rem;
  .deliveroo-container {
    background-color: $offGrey;
    justify-content: center !important;
    align-items: center;
    width: 370px;
  }
  .just-eat-container {
    background-color: $offGrey;
    width: 370px;
    justify-content: center !important;
    align-items: center;
    img:nth-child() {
      width: 700px;
    }
  }
  .delivery-logo {
    width: 15rem;
    padding-bottom: 4rem;
  }
  .delivery-btn {
    width: 150px;
    img {
      padding-left: 0.5rem;
    }
  }
  .just-eat-logo {
    color: $redBtn;
  }
}

// #################################### Reviews Section

.review-section {
  margin: 10rem 0rem;
}

.radio-wrapper {
  padding-bottom: 2rem;
}

.slider-viewport {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  text-align: center;
  .slider {
    position: absolute;
    width: 300%;
    height: 100%;
    background-color: $offGrey;
    // left: -100%;
    left: -100%;
    display: flex;
    justify-content: space-around;
    transition: left 0.5s ease-in-out;
    .review {
      width: 50%;
      background-color: #fff;
      margin: 9rem 20rem;
      position: relative;
      padding: 3rem;
      img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        border-radius: 100%;
        position: absolute;
        top: -13%;
        left: 42%;
      }
      h3 {
        padding: 4rem 1rem 3rem 1rem;
        line-height: 1.7;
        font-size: 1.2rem;
        font-weight: 400;
      }
      p {
        font-size: 1rem;
        font-weight: 300;
        padding-bottom: 1.5rem;
        border-bottom: solid 1px $blueBtn;
      }
      ul {
        list-style: none;
        padding-top: 1rem;
        li {
          display: inline-block;
          i {
            color: rgb(212, 181, 4);
          }
        }
      }
    }
  }
}

.radio-wrapper {
  background-color: $offGrey;
}

.centered {
  text-align: center;
}

.review-heading {
  padding-top: 4rem;
}

// ############################################################ Contact us Section

.contact-section {
  margin-bottom: 10rem;
}
.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $offGrey;
  padding: 5rem 3rem;

  .contact-map {
    iframe {
      width: 100% !important;
    }
  }
  .contact-title {
    display: flex;
    justify-content: center;
    h1 {
      border-bottom: solid 2px $blueBtn;
      margin-bottom: 4rem;
      font-size: 1.5rem;
      color: $darkGreyFont;
    }
  }
  .contact-info {
    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      position: relative;
      color: $darkGreyFont;
      &::after {
        content: "";
        position: absolute;
        width: 28%;
        height: 2px;
        background-color: $blueBtn;
        bottom: 0;
        left: 0;
      }
    }
    ul {
      list-style: none;
      li {
        margin: 2rem 0rem;
        h4 {
          font-size: 1.2rem;
          color: #7c7c7c;
          font-weight: 600;
        }
        p {
          font-size: 1.2rem;
          color: #7c7c7c;
          font-weight: 300;
        }
      }
    }
  }
  .contact-form {
    padding: 0rem 5rem 0rem 5rem;
    text-align: center;
    textarea {
      min-height: 15rem;
    }
  }
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  resize: vertical;
  font-family: "Lato", sans-serif;
}

input[type="submit"] {
  background-color: $blueBtn;
  color: white;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  @include scaleHover();
}

.span2 {
  grid-row: span 3;
}

// ############################################# Footer

.footer-section {
  background-color: $offGrey;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 4rem;

  .hours-table {
    h5 {
      margin-bottom: 1rem;
      text-align: center;
      font-size: 1.1rem;
    }
  }
  .footer-links {
    ul {
      list-style: none;
      li {
        text-align: center;
        margin-bottom: 1rem;
        h5 {
          font-size: 1.1rem;
        }
        a {
          text-decoration: none;
          color: #6e6d6d;
          &:hover {
            text-decoration: line-through;
          }

          .fa-facebook {
            font-size: 2rem;
            color: $turqouise;
          }
        }
      }
    }
  }
}

#hours td {
  padding-bottom: 0.5rem;
  color: #6e6d6d;
}
.day {
  padding-right: 2rem;
}

.footer-logo {
  display: flex;
  filter: brightness(40%);
  img {
    width: 10rem;
    align-items: center;
  }
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  color: $darkGreyFont;
  padding: 0rem 2rem 2rem 2rem;
}
// Media Queries

@media (max-width: 1266px) {
  .about-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 8rem 8rem 8rem 8rem;
    .section-heading {
      &::after {
        left: 40%;
      }
    }
    .about-text {
      display: flex;
      flex-direction: column;
      padding: 5rem;
      align-items: center;
      p {
        margin-bottom: 4rem;
      }
    }
    .about-img {
      width: 100%;
      img {
        position: static !important;
        width: 100%;
        object-fit: cover;
        border-top: solid 3rem #fff;
      }
    }

    a {
      position: static !important;
    }
  }

  .slider-viewport .slider .review {
    padding: 1rem;
    margin: 7rem 12rem;
  }
}

@media (max-width: 1070px) {
  .toggle-btn {
    display: flex !important;
  }

  .hero-bg {
    height: 100vh;
    width: 100%;
    background-image: url("/img/main-hero-bg.jpeg");
    background-repeat: no-repeat;
    background-size: 220%;
    animation: backgroundMove 60s infinite ease-in-out;
  }

  .navbar-links {
    position: absolute;
    top: -50%;

    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    // width: 100%;
    // height: 100% !important;
    // text-align: center;
    // align-items: center;
    // justify-content: center;
    // background-color: rgba(0, 0, 0, 0.5);
    // transition: all 0.3s;
    // position: absolute;
    &::after {
      height: 0;
    }
  }

  .navbar {
    flex-direction: column;
    width: 100%;
    .navbar-links ul {
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding-top: 10%;
    }
  }

  .active {
    top: 0% !important;
    transition: all 0.3s;
  }

  .menu-wrapper-grid {
    grid-template-columns: repeat(1, 1fr);
    .menu-title-text {
      text-align: center;
      .section-heading {
        &::after {
          left: 40%;
        }
      }
    }
    .grid-2 {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
    }
  }

  .contact-grid .contact-form {
    padding: 0rem 2rem 0rem 0rem;
  }
}

// Mobile layout

@media (max-width: 940px) {
  .floating-menu {
    display: none;
  }
  .hero-bg {
    background-size: 400%;
    height: 110vh;
  }

  .hero-section .logo {
    width: 14rem;
  }

  .about-wrapper {
    margin: 5rem 0rem;
    .about-text {
      padding: 2rem;
      h1 {
        font-size: 2rem;
      }
    }
  }

  .menu-section {
    margin-bottom: 10rem;
  }

  .menu-wrapper-grid {
    margin: 0rem;
    .food-menu {
      width: 90% !important;
      background-size: cover;
      background-position: center;
    }
    .drinks-menu {
      width: 90% !important;
      background-size: cover;
      background-position: center;
    }
  }

  .event-hh-wrapper-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem !important;
    .happy-hour {
      padding-bottom: 5rem;
      h1 {
        margin-bottom: 5rem;
        line-height: 1.2;
        &::after {
          width: 50%;
          left: 25%;
        }
      }
      h2 {
        margin-bottom: 5rem;
      }
    }
    .events {
      h1 {
        margin-bottom: 5rem;
        line-height: 1.2;
        text-align: center;
        &::after {
          width: 50%;
          left: 25%;
        }
      }
    }
  }

  .event-hh-wrapper-grid .events {
    padding-left: 0;
  }

  .Delivery-section {
    margin-top: 10rem;
    .just-eat-container,
    .deliveroo-container {
      width: 100% !important;
    }
  }

  .centered {
    text-align: center;
    padding: 0rem !important;
  }

  .slider-viewport .slider .review {
    width: 50%;
    background-color: #fff;
    margin: 9rem 1rem 1rem 1rem;
    position: relative;
    padding: 3rem;
  }
  .slider-viewport .slider .review img {
    left: 39%;
  }

  .contact-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    flex-wrap: wrap;
    .contact-title {
      width: 100%;
    }
    .contact-form {
      padding: 0rem;
      text-align: center;
      margin-bottom: 5rem;
      width: 100%;
      input[type="submit"] {
        color: white;
        padding: 0.4rem;
      }
    }
    .contact-info {
      margin-bottom: 2rem;
      width: 100%;
    }
    .contact-map {
      width: 100%;
      iframe {
        width: 100%;
      }
    }
  }

  .contact-grid :nth-child(1) {
    order: 1;
  }
  .contact-grid :nth-child(2) {
    order: 3;
  }
  .contact-grid :nth-child(3) {
    order: 2;
  }
  .contact-grid :nth-child(4) {
    order: 4;
  }

  .word-breaker {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem 0rem;

    .footer-logo {
      margin-bottom: 4rem;
    }
    .hours-table {
      text-align: center;
      align-items: center;
      margin-bottom: 3rem !important;
    }
  }
}
